body {
  height: 100%;
  margin: 0;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
}

.nav-div {
  height: 10%;
}

.chat-div {
  height: 82%;
}

.send-message-div {
  height: 8%;
}

.menu {
  background-color: #00a884;
}

.chat-border { 
  background-color: #141616;
}

.chat {
  overflow-y: auto;
  background-color: #2c2e30;
  height: 100%;
  color: white;
}

.bottom-of-messages {
  background-color: #2c2e30;
}

.chat-message-own {
  width: 1;
  position: relative;
  background-color: #00a884;
  border: 1px solid #00a884;
  border-radius: 5px;
  margin: 20px auto;
  margin-right: 1%;
  padding: 1%;
  display: table;
  word-wrap: break-word;
}

.chat-message {
  width: 1;
  position: relative;
  border: 1px solid;
  border-radius: 5px;
  margin: 20px auto;
  margin-left: 1%;
  padding: 1%;
  display: table;
  word-wrap: break-word;
}

.message-color-0 {
  background-color: #ff7f50;
  border-color: #ff7f50;
}

.message-color-1 {
  background-color: #ff5050;
  border-color: #ff5050;
}

.message-color-2 {
  background-color: #ffc400;
  border-color: #ffc400;
}

.message-color-3 {
  background-color: #28e63e;
  border-color: #28e63e;
}

.message-color-4 {
  background-color: #2ecdd2;
  border-color: #2ecdd2;
}

.message-color-5 {
  background-color: #5090ff;
  border-color: #5090ff;
}

.message-color-6 {
  background-color: #6a50ff;
  border-color: #6a50ff;
}

.message-color-7 {
  background-color: #c850ff;
  border-color: #c850ff;
}

.message-color-8 {
  background-color: #ff50cd;
  border-color: #ff50cd;
}

.message-color-9 {
  background-color: #ff5064;
  border-color: #ff5064;
}

.message { 
  background-color:#2c2e30;
  padding-top: 1%;
}

.container {
  height: 100%;
}

.button-send {
  width: 50px;
  height: 38px;
  background-color: #00a884;
  border-radius: 20px;
}

.label-poker-heading {
  margin-bottom: 10px;
  font-size: 15pt;
}

.button-planning-poker {
  padding: 0px;
  margin: 2px;
  width: 40px;
  height: 60px;
  border-radius: 8px;
  font-size: 15pt;
}

.button-end-planning-poker {
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  font-size: 15pt;
}

.text-input {
  margin-top: 1%;
  margin-left: 5%;
  width: 70%;
  height: 40px;
  font-size: x-large;
}

.button-copy-invite-link {
  width: 100px;
  background-color: transparent;
  border-color: transparent;
  float: right;
}

.button-home {
  width: 100px;
  background-color: transparent;
  border-color: transparent;
  float: right;
}

.img-send {
  width: 20px;
}

.icon-width {
  width: 30px;
}

.display-4 {
  font-size: 2rem;
  color: white;
}

@media only screen and (max-width: 768px) {
  .display-4 {
    font-size: 1.3rem;
  }

  .responsive-padding {
    padding-right: 2rem;

  }


  .hide-sd {
    display: none;
  }

  .button-copy-invite-link {
    width: 80px;
    background-color: transparent;
    border-color: transparent;
    float: right;
  }

  .button-home {
    width: 80px;
    background-color: transparent;
    border-color: transparent;
    float: right;
  }
}
